# files left by editors
*.swp
/project-files/netbeans/*
/project-files/eclipse/*


# merge files
*.*~

# output files
*.class
out/
lib/
jdoc/


# other unwanted files

# (left by dolphin file manager)
.directory
